[Tt]humbs.db
*.DS_Store
*.pidb
*.userprefs
*.[Oo]bj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vs
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.lock
*.ide
*.ide-shm
*.ide-wal
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
